/*
    Custom properties
*/
:root {
    /* Colors */
    --clr-accent-100: hsl(13, 100%, 96%);
    --clr-accent-300: hsl(12, 88%, 70%);
    --clr-accent-400: hsl(12, 88%, 59%);
    --clr-accent-500: hsl(12, 60%, 45%);

    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-100: hsl(0, 0%, 98%);
    --clr-neutral-200: hsl(0, 0%, 85%);
    --clr-neutral-300: hsl(13, 100%, 96%);
    --clr-neutral-700: hsl(227, 12%, 61%);
    --clr-neutral-900: hsl(233, 12%, 13%);

    /* Font Family */
    --ff-primary: 'Be Vietnam Pro', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    /* Font Weights */
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    /* Font Sizes */
    --fs-100: 0.8125rem;
    --fs-200: 0.875rem;
    --fs-300: 0.9375rem;
    --fs-400: 1rem;
    --fs-500: 1.875rem;
    --fs-700: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-500);
    --fs-nav: var(--fs-300);
    --fs-button: var(--fs-100);

    /* Sizes */
    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-650: 2.5rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-850: 4.5rem;
    --size-900: 5rem;
}

@media (min-width: 50em) {
    :root {
        --fs-body: var(--fs-400);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-700);
        --fs-nav: var(--fs-100);
    }
}

/*
    Reset
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

:where(
        ul:where([role='list'], [role='navigation']),
        ol:where([role='list'], [role='navigation'])
    ) {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

input:where([type='text'], [type='email'], [type='password']) {
    border-radius: 100vw;
    border: 0;
    padding-block: var(--size-300);
    padding-left: var(--size-500);
    font-size: var(--fs-100);
}

input:where(
        [type='text']:focus,
        [type='email']:focus,
        [type='password']:focus
    ) {
    outline: 1px solid var(--clr-accent-400);
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
    Utility Classes
*/

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.container {
    --max-width: 1110px;
    --container-padding: 1rem;

    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
    margin-top: var(--flow-spacer, var(--size-650));
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.alignment-center-vertically {
    align-items: center;
}

.element-show {
    display: block;
}

.element-hide {
    display: none;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .element-show-md {
        display: block;
    }

    .element-placement-right {
        justify-self: end;
    }
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-300 {
    color: var(--clr-neutral-300);
}

.text-neutral-700 {
    color: var(--clr-neutral-700);
}

.text-neutral-900 {
    color: var(--clr-neutral-900);
}

.bg-accent-400 {
    background-color: var(--clr-accent-400);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300);
}

.bg-neutral-700 {
    background-color: var(--clr-neutral-700);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.fw-extra-light {
    font-weight: var(--fw-extra-light);
}

.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.15;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.15;
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-200 {
    font-style: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.padding-block-900 {
    padding-block: var(--size-900);
}

.padding-block-700 {
    padding-block: var(--size-700);
}

@media (max-width: 50em) {
    .padding-block-700-sm {
        padding-block: var(--size-700);
    }
}

.margin-bottom-400 {
    margin-block-end: var(--size-400);
}

@media (max-width: 50em) {
    .margin-bottom-650-sm {
        margin-block-end: var(--size-650);
    }

    .margin-bottom-300-sm {
        margin-block-end: var(--size-300);
    }

    .margin-inline-400-sm {
        margin-inline: var(--size-400);
    }
}

.text-center {
    text-align: center;
}

@media (max-width: 50em) {
    .text-center-sm {
        text-align: center;
    }
}

/*
    General
*/
body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--clr-primary-400);
}

p[data-text-color='opacity'] {
    opacity: 0.6;
}

.button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1.25em 2.5em;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-400);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-button);
    line-height: 1;
    box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

.button[data-type='inverted'] {
    color: var(--clr-accent-400);
    background-color: var(--clr-neutral-100);
}

.button[data-shadow='none'] {
    box-shadow: none;
}

.button:hover,
.button:focus-visible {
    background-color: var(--clr-accent-300);
}

.button[data-type='inverted']:hover,
.button[data-type='inverted']:focus-visible {
    background-color: var(--clr-neutral-300);
    color: var(--clr-accent-300);
}

.primary-header {
    padding-top: var(--size-700);
}

@media (min-width: 50em) {
    .primary-header {
        padding-bottom: var(--size-700);
    }
}

/*
    Navigation
*/
.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-list {
    font-size: var(--fs-nav);
    font-weight: var(--fw-semi-bold);
    display: flex;
    gap: clamp(var(--size-500), 3vw, var(--size-650));
}

.header-nav-list a {
    text-decoration: none;
    color: var(--clr-primary-400);
    transition: color 0.3s ease;
}

.header-nav-list a:hover,
.header-nav-list a:focus {
    color: var(--clr-neutral-700);
}

.primary-header-mobile-navigation-toggler {
    display: none;
}

@media (max-width: 50em) {
    .primary-header[data-overlay] {
        position: relative;
        z-index: 9999;
    }

    .primary-header[data-overlay]::before {
        content: '';
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    }

    .header-navigation {
        --nav-max-width: 35rem;

        display: none;
        position: fixed;
        inset: 7rem var(--size-500) auto;
        max-width: var(--nav-max-width);
        margin-inline: auto;
        padding: var(--size-700);
        background-color: var(--clr-neutral-100);
        border-radius: var(--size-100);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
    }

    .header-navigation[data-visible] {
        display: block;
    }

    .header-nav-list {
        display: grid;
        gap: var(--size-600);
        font-weight: var(--fw-bold);
    }

    .primary-header-mobile-navigation-toggler {
        display: block;
        position: fixed;
        z-index: 100;
        top: var(--size-650);
        right: var(--size-400);
        cursor: pointer;
        background-color: transparent;
        background-image: url('./assets/images/icons/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 1.5em;
        aspect-ratio: 1;
        border: 0;
        padding: 0.5em;
    }

    .primary-header-mobile-navigation-toggler[aria-expanded='true'] {
        z-index: 100;
        background-image: url('./assets/images/icons/icon-close.svg');
    }
}

/*
    Hero
*/
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 40rem;
    z-index: -1;
    width: 47%;
    background-image: url('./assets/images/bg/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 60rem;
}

@media (max-width: 50em) {
    .hero::before {
        top: -4.375rem;
        width: 85%;
        background-size: 37.5rem;
    }
}

@media (max-width: 23.4375em) {
    .hero::before {
        top: -15.625rem;
        width: 85%;
        background-size: 28.125rem;
    }
}

.hero p[data-text-width='width'] {
    max-width: 32ch;
}

@media (max-width: 50em) {
    .hero p[data-text-width='width'] {
        max-width: 50ch;
        margin-inline: auto;
    }

    .hero-image {
        margin-inline: auto;
        order: -1;
    }

    .hero-introduction {
        --flow-spacer: 2em;
    }

    .hero-introduction p {
        font-size: var(--size-400);
    }
}

@media (max-width: 23.4375em) {
    .hero p[data-text-width='width'] {
        max-width: 30ch;
    }
}

/*
    Service
*/
.service {
    position: relative;
}

.service::before {
    content: '';
    position: absolute;
    top: 0;
    left: -30rem;
    height: 75rem;
    z-index: -1;
    width: 100%;
    background-image: url('./assets/images/bg/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 53.125rem;
}

@media (min-width: 125em) {
    .service::before {
        left: 0;
        top: 25rem;
        height: 81.25rem;
        width: 43%;
        background-position: bottom right;
        background-size: 68.75rem;
    }
}

@media (max-width: 71.875em) {
    .service::before {
        top: 3.125rem;
        background-size: 48rem;
    }
}

@media (max-width: 50em) {
    .service::before {
        top: -15.625rem;
        left: 0;
        right: 0;
        width: 35%;
        margin-inline-start: auto;
        height: 32rem;
        background-position: top left;
        background-size: 30rem;
    }
}

@media (max-width: 37.5em) {
    .service::before {
        top: -12.5rem;
        background-size: 25rem;
    }
}

@media (max-width: 23.4375em) {
    .service::before {
        top: -17.625rem;
        width: 35%;
        background-size: 20rem;
    }
}

.service-introduction p[data-text-width='width'] {
    max-width: 32ch;
}

@media (max-width: 50em) {
    .service-introduction p[data-text-width='width'] {
        max-width: 42ch;
        margin-inline: auto;
    }
}

@media (max-width: 23.4375em) {
    .service-introduction p[data-text-width='width'] {
        max-width: 32ch;
    }
}

.service-details p[data-text-width='width'] {
    max-width: 42ch;
}

.numbered-items {
    counter-reset: count;
    width: fit-content;
    margin-inline: auto;
}

.numbered-items li {
    counter-increment: count;
}

.numbered-items-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: var(--size-300);
}

.numbered-items-wrapper::before,
.numbered-items-wrapper::after {
    height: 40px;
    grid-row: 1 / 2;
}

.numbered-items-wrapper::before {
    content: '0' counter(count);
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-400);
    padding: 0 var(--size-500);
    font-weight: var(--fw-bold);
    border-radius: 100vw;
}

@media (max-width: 23.4375em) {
    .numbered-items-wrapper::after {
        --bg: var(--clr-accent-100);

        content: '';
        z-index: -1;
        grid-column: 1 / -1;
        background-color: var(--bg);
        box-shadow: 5em 0 0 var(--bg);
        border-radius: 100vw 0 0 100vw;
    }
}

.numbered-items-title {
    grid-area: 1 / 2;
    grid-column: 2 / -1;
    line-height: 1.1;
}

.numbered-items-body {
    grid-column: 2 / -1;
}

@media (max-width: 23.4375em) {
    .numbered-items-body {
        grid-column: 1 / -1;
    }
}

/*
  Carousel  
*/
.carousel {
    margin-block-end: 8rem;
}

@media (max-width: 50em) {
    .carousel {
        margin-block-end: 4rem;
    }
}

@media (max-width: 23.75em) {
    .carousel {
        margin-block-end: 0;
    }
}

/* 
    Slider 
*/
.slider {
    display: flex;
    gap: var(--size-600);
    list-style: none;
}

.slider > * {
    width: 100%;
    flex: 0 0 auto;
}

.slider li img {
    width: var(--size-850);
    position: relative;
    top: calc(var(--size-850) / 2);
    margin-inline: auto;
}

.slider-description {
    padding: var(--size-800) var(--size-600) var(--size-650);
    background-color: var(--clr-neutral-100);
    border-radius: 5px;
}

.carousel p[data-text-width='width'] {
    max-width: 42ch;
    margin-inline: auto;
}

@media (max-width: 50em) {
    .carousel p[data-text-width='width'] {
        max-width: 50ch;
    }
}

@media (max-width: 23.4375em) {
    .carousel p[data-text-width='width'] {
        max-width: 30ch;
    }
}

.a11y-slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-100);
    list-style: none;
    margin-block-start: var(--size-500);
}

.a11y-slider-dots li {
    display: block;
    width: 9px;
    height: 9px;
}

.a11y-slider-dots li button {
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    border: 1px solid var(--clr-accent-400);
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: all 0.3s ease-in;
}

.a11y-slider-dots li button.active,
.a11y-slider-dots li button:focus,
.a11y-slider-dots li button:hover {
    background-color: var(--clr-accent-400);
}

.a11y-slider-autoplay {
    display: none;
}

/* 
    CTA
*/
.cta {
    position: relative;
    isolation: isolate;
}

.cta::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('./assets/images/bg/bg-tablet-pattern.svg'),
        url('./assets/images/bg/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: 5rem -3rem, 80rem -42rem;
    opacity: 0.08;
}

.cta-heading {
    font-size: var(--fs-700);
    line-height: 1.15;
}

/* 
    Footer
*/
.primary-footer {
    --logo-color: var(--clr-neutral-100);
}

.primary-footer-wrapper {
    display: grid;
    gap: var(--size-700);
    grid-template-areas:
        'form'
        'nav'
        'social'
        'logo'
        'copyright';
}

.primary-footer-logo {
    grid-area: logo;
}

.primary-footer-social {
    grid-area: social;
}

.primary-footer-nav {
    grid-area: nav;
}

.primary-footer-form {
    grid-area: form;
}

.primary-footer-copyright {
    grid-area: copyright;
    font-size: var(--fs-100);
    opacity: 0.5;
}

.primary-footer-form form {
    display: flex;
    gap: var(--size-200);
}

.primary-footer-form form input::placeholder {
    font-size: var(--fs-100);
    color: var(--clr-neutral-700);
}

.primary-footer-form form > div {
    position: relative;
}

div[data-error-msg] {
    position: absolute;
    left: 1rem;
    bottom: -1.5rem;
    font-style: italic;
    opacity: 0.8;
}

@media (min-width: 50em) {
    .primary-footer-wrapper {
        grid-template-areas:
            'logo nav form'
            'social nav copyright';
    }

    .primary-footer-form form input[type='text'] {
        width: 13.25rem;
    }

    div[data-error-msg] {
        left: 1rem;
        bottom: -1.5rem;
    }
}

@media (max-width: 50em) {
    .primary-footer-wrapper {
        place-items: center;
    }

    .primary-footer-form form {
        gap: var(--size-400);
    }

    .primary-footer-form form input[type='text'] {
        padding-right: clamp(var(--size-800), 15vw, 7rem);
    }
}

@media (max-width: 23.125em) {
    .primary-footer-form form {
        flex-direction: column;
        gap: var(--size-650);
    }

    div[data-error-msg] {
        left: 1rem;
        bottom: -1.5rem;
    }
}

.footer-nav-list {
    font-size: var(--fs-nav);
    columns: 2;
    gap: clamp(var(--size-800), 7vw, 10rem);
}

.footer-nav-list a {
    text-decoration: none;
    color: var(--clr-accent-100);
    transition: color 0.3s ease;
}

.footer-nav-list a:is(:hover, :focus) {
    color: var(--clr-accent-400);
}

.social-list {
    display: flex;
    gap: var(--size-600);
}

.social-icon {
    width: var(--size-600);
    aspect-ratio: 1;
    fill: var(--clr-accent-100);
    transition: 0.3s ease;
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--clr-accent-400);
}

@media (min-width: 50em) {
    .social-list {
        gap: var(--size-300);
    }

    .social-icon {
        width: var(--size-500);
        max-width: revert;
    }
}
