:root {
    --primary-clr: hsl(233, 47%, 7%);
    --secondary-clr: hsl(244, 38%, 16%);
    --accent-clr: hsl(277, 64%, 61%);
    --main-heading-stats-clr: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    color: var(--main-heading-stats-clr);
    background-color: var(--primary-clr);
    display: grid;
    place-items: center;
    height: 100vh;
}
.stats-preview-card {
    width: 90%;
    max-width: 70rem;
    height: 29rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary-clr);
    border-radius: 7px;
    overflow: hidden;
}
.stats-preview {
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 2em;
    padding: 4em;
}
.stats__title {
    font-size: 2.3rem;
}
.title--accent {
    color: var(--accent-clr);
}
.stats__description {
    font-size: 15px;
    color: var(--main-paragraph);
    padding-right: 2.7em;
    line-height: 1.8;
}
.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1em;
}
.stat__numbers {
    font-size: 1.5rem;
}
.stat__type {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--stat-heading);
    margin-top: 0.4em;
}
.stats-img {
    width: 100%;
    height: 100%;
    background: linear-gradient(
            hsla(277, 59%, 30%, 0.6),
            hsla(277, 59%, 30%, 0.6)
        ),
        url('./images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 55.56rem) {
    html {
        font-size: 85%;
    }
    .stats-preview-card {
        height: 80vh;
        grid-template-columns: none;
        grid-template-rows: auto min-content;
        justify-content: center;
        text-align: center;
    }
    .stats-preview {
        padding: 2em;
        gap: 1em;
    }
    .stats__title {
        font-size: 2rem;
    }
    .stats__description {
        padding-inline: 0.8em;
    }
    .stats-img {
        background: linear-gradient(
                hsla(277, 59%, 30%, 0.6),
                hsla(277, 59%, 30%, 0.6)
            ),
            url('./images/image-header-mobile.jpg');
        background-size: cover;
        grid-row: 1;
    }
    .stats {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        row-gap: 2em;
        margin-top: 2em;
    }
}
